<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{base_url}">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Review of {album} by {artist}</title>
  </head>

  <body>
    <a href="index.html">Back to index</a>
    <a href="sorted_by_year.html#{year}">Back to {year}</a>
    <a href="sorted_by_decade.html#{decade}">Back to the {decade}s</a>
    <hr>
    <header>
      <center>
        <img align="middle", src="{cover}" width="300">
        <h1>{album}</h2>
        <h2>{artist}</h3>
        <h3>{year}</h3>
        <h2 style="color:rgb{rating_color}">{rating}</h2>
      </center>
      <p><i>{tags}</i></p>
      <ol>
{tracks}
      </ol>
    </header>
    <hr>
    <p>
{content}
    </p>
    <hr>
    <p class="footer">
      Built with <a href="https://github.com/theodcr/music-reviews/">music-reviews</a>
    </p>
  </body>

</html>
