<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Review of {album} by {artist}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="BASE_URL">
  </head>

  <body>
    <hr>
    <center><img align="middle", src="{cover}" width="300"></center>
    <p></p>
    <h1>{album}</h2>
    <h2>{artist}</h3>
    <h3>{year}</h3>
    <h2 style="color:rgb{rating_color}">{rating}</h2>
    <p><i>{tags}</i></p>
    <ol>
      {tracks}
    </ol>
    <hr>
    <p>
      {content}
    </p>
  </body>

</html>
